In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score
import time
import psutil
import numpy as np

file_path = 'D:\Programming\Datasets\healthcare-dataset-stroke-data.csv'
    
df = pd.read_csv(file_path)

In [28]:
def replace_with_noise(dataframe, percentage=0.1):
    # Setting the seed to ensure reproducibility
    np.random.seed(0)

    # Generate the random indices to be replaced
    num_rows = len(dataframe)
    num_replace = int(num_rows * percentage)
    idx = np.random.choice(np.arange(num_rows), size=num_replace, replace=False)

    # Generate noise equivalent to the number of replacements
    noise = np.random.normal(0, 1, num_replace)

    # Make a copy of the dataframe
    df_noisy = dataframe.copy()

    # Replace the selected indices with noise
    for column in df_noisy.columns:
        df_noisy.loc[idx, column] = noise

    return df_noisy

In [29]:
df_noisy = replace_with_noise(df, 0.1)
df_noisy

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046.000000,Male,67.000000,0.000000,1.000000,Yes,Private,Urban,228.690000,36.600000,formerly smoked,1.000000
1,51676.000000,Female,61.000000,0.000000,0.000000,Yes,Self-employed,Rural,202.210000,NaN,never smoked,1.000000
2,31112.000000,Male,80.000000,0.000000,1.000000,Yes,Private,Rural,105.920000,32.500000,never smoked,1.000000
3,60182.000000,Female,49.000000,0.000000,0.000000,Yes,Private,Urban,171.230000,34.400000,smokes,1.000000
4,1665.000000,Female,79.000000,1.000000,0.000000,Yes,Self-employed,Rural,174.120000,24.000000,never smoked,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255,1.246255
5106,44873.000000,Female,81.000000,0.000000,0.000000,Yes,Self-employed,Urban,125.200000,40.000000,never smoked,0.000000
5107,19723.000000,Female,35.000000,0.000000,0.000000,Yes,Self-employed,Rural,82.990000,30.600000,never smoked,0.000000
5108,37544.000000,Male,51.000000,0.000000,0.000000,Yes,Private,Rural,166.290000,25.600000,formerly smoked,0.000000
5109,44679.000000,Female,44.000000,0.000000,0.000000,Yes,Govt_job,Urban,85.280000,26.200000,Unknown,0.000000